body{
  background-color:	#ffe5af;
  overflow: hidden;
}
.flex-box{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 92vh;
  height: 92vh;
  position: relative;
}
/*--------------------------------*/
/*kitos talpyklos klases*/
.circle {
  width: 70vh;
  height: 70vh;
  border-radius: 50%;
  position: absolute;
  top: 9vh;
  left: 9vh;
  border: 2vh solid #ba7944;
}
.logo {
  background: url("lgac.jpg") no-repeat;
  width: 35vh;
  height: 35vh;
  border-radius: 50%;
  border: 0.6vh solid #ba7944;
  position: absolute;
  top: 27.9vh;
  left: 27.9vh;
  background-size: 35vh 35vh;
}
.gray{
  background: black;
  width: 21vh;
  height: 21vh;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.gray1{
  transform: rotate(0deg);
  animation: gray1 50s infinite linear;
}
@keyframes gray1 {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(-360deg);}
}
.gray2{
  transform: rotate(-90deg);
  animation: gray2 50s infinite linear;
}
@keyframes gray2 {
  0% {transform: rotate(-90deg);}
  100% {transform: rotate(-450deg);}
}
.gray3{
  transform: rotate(-180deg);
  animation: gray3 50s infinite linear;
}
@keyframes gray3 {
  0% {transform: rotate(-180deg);}
  100% {transform: rotate(-540deg);}
}
.gray4{
  transform: rotate(-270deg);
  animation: gray4 50s infinite linear;
}
@keyframes gray4 {
  0% {transform: rotate(-270deg);}
  100% {transform: rotate(-630deg);}
}
.text{
  position: absolute;
  top: 2vh;
  left: 4.5vh;
  color: white;
  font-size: 5vh;
  text-align: center;
  opacity: 1;
}
.gray:hover{
  opacity: 0.5;
}


/*---------------------------------------*/
/*nuotrauku ir ju talpyklu bendros klases*/
.wrap{
    width: 21vh;
    height: 46vh;
    transform-origin: bottom;
    position: absolute;
    left: 36vh;
    top: 0;
}
.item{
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    border: 0.5vh solid #ba7944;
}
/*---------------------------------------*/
/*nuotrauku talpykla*/
.wrap1{
  transform: rotate(0deg);
  animation: kates 50s infinite linear;
}
@keyframes kates {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
.wrap2{
  transform: rotate(90deg);
  animation: wcf 50s infinite linear;
}
@keyframes wcf {
  0% {transform: rotate(90deg);}
  100% {transform: rotate(450deg);}
}
.wrap3{
  transform: rotate(180deg);
  animation: sunys 50s infinite linear;
}
@keyframes sunys {
  0% {transform: rotate(180deg);}
  100% {transform: rotate(540deg);}
}
.wrap4{
  transform: rotate(270deg);
  animation: acw 50s infinite linear;
}
@keyframes acw {
  0% {transform: rotate(270deg);}
  100% {transform: rotate(630deg);}
}
/*--------------------------------------------------*/
/*Nuotraukos*/
.item1 {
  background: url("kate.jpg") no-repeat;
  background-size: 20vh 20vh;
  transform: rotate(0deg);
  animation: kates1 50s infinite linear;
}
@keyframes kates1 {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(-360deg);}
}
.item2 {
  background: url("wcf.jpg") no-repeat;
  background-size: 20vh 20vh;
  transform: rotate(-90deg);
  animation: wcf1 50s infinite linear;
}
@keyframes wcf1 {
  0% {transform: rotate(-90deg);}
  100% {transform: rotate(-450deg);}
}
.item3 {
  background: url("suo.jpg") no-repeat;
  background-size: 20vh 20vh;
  transform: rotate(-180deg);
  animation: sunys1 50s infinite linear;
}
@keyframes sunys1 {
  0% {transform: rotate(-180deg);}
  100% {transform: rotate(-540deg);}
}
.item4 {
  background: url("acw.jpg") no-repeat;
  background-size: 20vh 20vh;
  transform: rotate(-270deg);
  animation: acw1 50s infinite linear;
}
@keyframes acw1 {
  0% {transform: rotate(-270deg);}
  100% {transform: rotate(-630deg);}
}
/*-----------------------------------------------------*/
/*adaptive plocio nustatymai plius mobilioji versija*/
@media only screen and (max-width: 1020px) {
  .container{
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }
  body{
    background-color: white;
    overflow-y: scroll;
  }
  .logo{
    margin-bottom: 3vw;
    border: 0;
    border-radius: 0;
    position: relative;
    left: 0;
    top: 0;
    background-size: 100% 100%;
    width: 55%;
    height: 55vw;
    order: 1;
  }
  .circle{
    visibility: hidden;
    width: 0;
    height: 0;
    order: 6;
  }
  .wrap{
    width: 50%;
    height: 50vw;
    animation-name: none;
    position: relative;
    left: 0;
    top: 0;
    transform-origin: center;
  }
  .wrap1{
    order: 2;
  }
  .wrap2{
    order: 3;
  }
  .wrap3{
    order: 4;
  }
  .wrap4{
    order: 5;
  }
  .item1:hover{
    opacity: 0.7;
  }
  .item2:hover{
    opacity: 0.7;
  }
  .item3:hover{
    opacity: 0.7;
  }
  .item4:hover{
    opacity: 0.7;
  }
  .item{
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 0;
    border: 0;
    left: 0;
    right:0;
    animation-name: none;
  }
  .gray{
    visibility: hidden;
  }
}
